torch
torchvision
imageio
imageio-ffmpeg
matplotlib
configargparse
tensorboard
tqdm
opencv-python
opencv-contrib-python
scikit-image
scikit-learn
numpy
lpips
einops
kornia
yacs
easydict
efficientnet_pytorch
gdown
plyfile
pandas
ipdb
loguru==0.5.3
pytorch-lightning==1.3.5
torchmetrics==0.6.0
gsplat